<div *ngIf="barcode">
    {{ barcode }}
</div>
<button type="button" class="btn btn-warning" (click)="startScanner()">
  Click to scanner
</button>

<div class="input-group">
    <!-- <input type="text" id="inputBarcode" class="form-control" placeholder="Barcode Keys" /> -->
    <div id="inputBarcode" style="position: absolute;" *ngIf="scanning">
        <div id="interactive" class="viewport">
            <video class="videoCamera" autoplay="true" preload="auto" src="" muted="true" playsinline="true"></video>
            <canvas class="drawingBuffer"></canvas>
        </div>
    </div>
</div>
<!-- <div id="inputBarCode">zone de vision de la caméra</div> -->